/* 折线图样式文件 */

.h5_component_ployline {}

.h5_component_ployline canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.h5_component_ployline .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    transform: scale(.8);
    opacity: 0;
}
.h5_component_ployline_load .text{
    opacity: 1;
}
.h5_component_ployline_leave .text{
    opacity: 0;
}